---
import { getCollection } from "astro:content";

import Layout from "@/layouts/base.astro";

// Fetch all documents from the 'tags' collection
const documents = await getCollection("documents");
---

<Layout class="p-6">
    <div class="space-y-4">
        {
            documents.map(doc => (
                <a
                    href={`/RbxDocs/documents/${doc.slug}`}
                    class="inline-block rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600"
                >
                    {doc.data.title || doc.slug}
                </a>
            ))
        }
    </div>
</Layout>
