{
    "$schema": "https://json.schemastore.org/prettierrc",
    "arrowParens": "avoid",
    "importOrder": [
        "<BUILTIN_MODULES>",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@/(.*)",
        "^~/(.*)",
        "^[\\.]*/(.*)",
        "",
        "<TYPES>"
    ],
    "importOrderParserPlugins": ["typescript", "jsx", "importAssertions"],
    "jsonRecursiveSort": true,
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ],
    "plugins": [
        "@ianvs/prettier-plugin-sort-imports",
        "prettier-plugin-astro",
        "prettier-plugin-sort-json",
        "prettier-plugin-tailwindcss"
    ],
    "printWidth": 100,
    "tabWidth": 4
}
