---
import { getCollection } from "astro:content";

import Layout from "@/layouts/base.astro";
import { getAuthorOrDefault } from "@/modules/author";

// Fetch all documents from the 'tags' collection
const tags = await getCollection("tags");
---

<Layout class="px-72 py-8">
    <ul class="space-y-4">
        {
            tags.map(async doc => (
                <li>
                    <a href={`/RbxDocs/tags/${doc.slug}`}>
                        <b style="color:#0096FF">{doc.data.title}</b>
                        <a style="font-size:90%;color:rgb(109, 109, 109,.6);">
                            by {(await getAuthorOrDefault(doc.data.author)).username}
                        </a>
                        <p
                            style={{
                                whiteSpace: "normal",
                                wordWrap: "break-word",
                                overflowWrap: "break-word",
                                maxWidth: "800px",
                            }}
                        >
                            {doc.body.length > 200 ? doc.body.slice(0, 200) + "..." : doc.body}
                        </p>
                    </a>
                </li>
            ))
        }
    </ul>
</Layout>
