---
import Layout from "@/layouts/base.astro";
---

<Layout class="flex justify-center py-12">
    <main
        class={`
            prose
            marker:text-base-content
            prose-headings:font-light prose-headings:text-base-content
            prose-h2:mt-0
            prose-p:text-base-content
            prose-a:text-blue-500 prose-a:decoration-inherit prose-a:underline-offset-1
            prose-a:visited:text-purple-500
        `}
    >
       

        <h1 class="m-0 mb-0">Welcome to the docs</h1>
    </main>
</Layout>
