---
import { Icon } from "astro-icon/components";

interface Props {
  variant: "tip" | "caution" | "danger" | "info";
  text: string | null;
  collapsed: "false" | "true";
}

const { variant, text, collapsed } = Astro.props as Props;

const icon = (() => {
  switch (variant) {
    case "tip":
      return "tabler/bulb";
    case "caution":
      return "tabler/alert-triangle";
    case "danger":
      return "tabler/flame";
    case "info":
      return "tabler/info";
  }
})();

---

<div
  class:list={[
    "aside my-3 rounded-md border-l-4 px-4 py-3 prose-p:my-0",
    {
      "border-green-400 bg-green-400/10 text-green-950": variant === "tip",
    },
    {
      "border-yellow-400 bg-yellow-400/10 text-yellow-950": variant === "caution",
    },
    {
      "border-red-400 bg-red-400/10 text-red-950": variant === "danger",
    },
    {
      "border-sky-400 bg-sky-400/10 text-sky-950": variant === "info",
    },
  ]}
>

<div>
  {!collapsed && (
    <details open>
      <summary class="flex items-center gap-2 pb-2">
        <Icon name={icon} class="w-6 h-6" />
        <p class="text-sm font-bold">{text ? text : variant.toUpperCase()}</p>
        <span class="icon"></span>
      </summary>
      <slot />
    </div>
    </details>
  )}
  {collapsed && (
    <details>
      <summary class="flex items-center gap-2 pb-2">
        <Icon name={icon} class="w-6 h-6" />
        <p class="text-sm font-bold">{text ? text : variant.toUpperCase()}</p>
        <span class="icon"></span>
      </summary>
      <slot />
    </div>
    </details>
  )}
</div>

<style>
  details {
    user-select: none;
  }

  details>summary span.icon {
    color: #2596be;
    width: 60px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;
  }

  .icon::before {
    content: "expand";
  }

  details[open] .icon::before {
    content: "collapse";
  }

  summary {
    display: flex;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;
  }

</style>
