---
interface Props {
    href: string;
}

const props = Astro.props;
---

<a
    class="text-blue-600 underline decoration-inherit underline-offset-1 visited:text-purple-600"
    href={props.href}
>
    <slot />
</a>
