---
import { getCollection } from "astro:content";

import Search from "@/components/search.tsx";

const unsorted = await getCollection("documents");
const documents = unsorted.filter(entry => entry.data.search);
---

<nav class="w-full bg-indigo-700 px-4 shadow-lg">
    <div class="flex h-12 items-center justify-between">
        <!-- Icon goes here -->

        <a class="text-lg font-bold text-white" href="/MyDocs">Docs Idk</a>

        <Search client:load collection={documents} />
    </div>

    <div class="flex h-12 items-center text-sm font-medium tracking-tight">
        <a class="hover text-white opacity-80" href="/MyDocs">Home</a>
    </div>
</nav>
