---
import { getCollection } from "astro:content";

import Search from "@/components/search.tsx";

import ThemeChanger from "@/components/theme-changer.astro";

const docs = await getCollection("documents");
const documents = docs.filter(entry => entry.data.search);
---

<nav class="w-full bg-indigo-700 px-4 shadow-lg">
    <div class="flex h-12 items-center justify-between gap-2">
        <!-- Icon goes here -->

        <a class="text-lg font-bold text-gray-200" href="/MyDocs">Rbx tags</a>

        <ThemeChanger class="swap swap-rotate ml-auto text-gray-300" />
        <Search client:load collection={documents } />
    </div>

    <div class="flex h-12 items-center text-sm font-medium tracking-tight space-x-4">
        <a class="hover text-gray-300" href="/MyDocs">Home</a>
        <a class="hover text-gray-300" href="/MyDocs/tags">Tags</a>
    </div>
        
</nav>
