<nav class="w-full bg-indigo-700 px-4">
    <div class="flex h-12 items-center">
        <!-- Icon goes here -->

        <a class="text-lg font-bold text-white" href="/MyDocs">Docs Idk</a>
    </div>

    <div class="flex h-12 items-center text-sm font-medium tracking-tight">
        <a class="hover text-white opacity-80" href="/MyDocs">Home</a>
    </div>
</nav>
