---
import NavigationBar from "@/components/navigation-bar.astro";

// Everyone, Roboto
// Roboto, everyone

// Hope you two get along!
import "@fontsource/roboto/100.css";
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import "@fontsource/roboto/900.css";
import "@fontsource/roboto/100-italic.css";
import "@fontsource/roboto/300-italic.css";
import "@fontsource/roboto/400-italic.css";
import "@fontsource/roboto/500-italic.css";
import "@fontsource/roboto/700-italic.css";
import "@fontsource/roboto/900-italic.css";

interface Props {
    class?: string;
}

const { class: class_ = null } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />

        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->

        <title>Docs Idk</title>
    </head>

    <body>
        <NavigationBar />

        <div class={class_}>
            <slot />
        </div>
    </body>
</html>
