name: ci

on:
    push:
        branches: [main]
    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write
    actions: read

jobs:
    build:
        env:
            DISCORD_API_TOKEN: ${{ secrets.DISCORDAPI }}
            GITHUB_API_TOKEN: ${{ secrets.GITTOKEN }}
            TEST_TOKEN: ${{ secrets.TESTTOKEN }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Build the Astro site
              uses: withastro/action@v2
              with:
                  node-version: 18

    deploy:
        needs: build
        runs-on: ubuntu-latest
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
