name: Check formatting

on:
    push:
        branches:
            - main
    pull_request:
    workflow_dispatch:

permissions:
    contents: read

jobs:
    check:
        name: Check formatting with Prettier
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  ref: ${{ github.head_ref }}
                  fetch-depth: 0

            - uses: actions/setup-node@v4
              with:
                  node-version: latest

            - run: npm ci

            - run: npm run lint:formatting
